# google-services.json and GoogleService-Info.plist
google-services.json
GoogleService-Info.plist

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/app/build/
android/build/
android/.gradle/
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
*.ipa
*.xcarchive

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
